.about__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about__text {
    width: 856px;
    margin: 0 auto;
    text-align: center;
font-weight: 700;
font-size: 27px;
line-height: 1.3;
}