/* -------------------------hero------------------------------------------------------------------------------ */
.hero__title {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 300px;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.2;


    @media screen and(min-width: 768px) {
        width: 600px;
        padding-top: 280px;
        padding-bottom: 350px;
        font-weight: 500;
        font-size: 72px;
    }

    @media screen and(min-width: 1280px) {
        width: 680px;
        padding-top: 360px;
        padding-bottom: 420px;
        font-weight: 700;
        font-size: 72px;
    }
}

.hero {
    background-image: url('../images/hero/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and(min-width: 768px) {}

    @media screen and(min-width: 1280px) {}

}