/* -------------------------services------------------------------------------------------------------------------ */
.work-galery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 24px;
    /* align-items: center; */
}

.work-galery__img {
    width: 410px;
    height: 386px;
    transition: all 400ms ease-in-out;
    &:hover {
        scale: 1.1;
    }

    @media screen and (min-width: 768px) and (max-width: 1000px){
       display: flex;
        width: 300px;
        height: 250px; 
    }
    @media screen and(min-width: 1001px) {
        width: 410px;
        height: 386px; 
    }
}

